@{
    Page.Title = "Data Administration";
}

<div class="row">
    <div class="col-md-12">
        <div class="boxIT">
            <div class="pagehead">
                <div class="col-md-3 pageTitle">
                    Administration
                </div>
                <div class="col-md-9 pageActions">

                </div>
            </div>
            <div class="boxBody">
                <br />
                <a class="btn btn-primary btn-lg" href="~/Manage/Admin/Users">User Logins</a>
            </div>
        </div>
    </div>
</div>