@{




    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Data Dashboard";
}

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Data Dashboard</div>
            <div class="intro-lead-in">Sustainable Development Goals</div>
            <div class="btn btn-xl" style="visibility: hidden">Tell Me More</div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <nav>
        <div class="webArea">
            <div id="subnav">
                <nav class="parent">
                    <ul>
                        <li class="filter">
                            <a href="#filter=.One">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG_goals_icons-individual-rgb-01.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Two">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-02.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Three">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-03.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Four">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-04.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Five">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-05.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Six">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-06.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Seven">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-07.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Eight">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-08.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Nine">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-09.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Ten">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-10.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Eleven">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-11.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Twelve">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-12.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Thirteen">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-13.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Fourteen">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-14.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Fifteen">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-15.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Sixteen">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-16.png" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Seventeen">
                                <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-17.png" />
                            </a>
                        </li>
                        <li class="filter">
                        <a href="#filter=*">
                            <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-18.png" />
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>

    <section>
        <div class="webArea">
            <div id="grid">



                <!--Main Isotope Div-->
                <div class="item One yellow isotope-item col-lg-12">

                    <!--Goal and Descript Div-->
                    <div class="col-lg-12">
                        <h1>Goal</h1>
                        <p>Description</p>
                    </div>

                    <!--Target Div-->
                    <div class="col-lg-12">
                        <h2>Target 3.1</h2>
                        <p>Description..............</p>
                    </div>

                    <!--Indicator Div-->
                    <div class="col-lg-6">
                        <h4>Target 3.1</h4>
                        <p>Description..............</p>
                    </div>
                    <div class="col-lg-6">
                        <h4>Target 3.1</h4>
                        <p>Description..............</p>
                    </div>


                    </div>

                <div class="item Two red isotope-item col-lg-12">
                    <p>adfskhlsdhkljadsfkjhlh</p>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- API Section -->
<section id="api">
    <div class="container">

        <div class="easy-pie-chart">
            <div class="col-md-6">
                <div class="number XXGreen easyPieChart" data-percent="100" style="width: 100px; height: 100px; line-height: 100px;">
                    <span>347</span><canvas width="100" height="100"></canvas>
                </div>
                <a class="title" href="#">Total Members</a>
            </div>
            <div class="col-md-6">
                <div class="number XXYellow easyPieChart" data-percent="100" style="width: 100px; height: 100px; line-height: 100px;">
                    <span>200</span><canvas width="100" height="100"></canvas>
                </div>
                <a class="title" href="#">Email Subscribers</a>
            </div>
            <div class="col-md-6">
                <div class="number XXBlue easyPieChart" data-percent="100" style="width: 100px; height: 100px; line-height: 100px;">
                    <span>52</span><canvas width="100" height="100"></canvas>
                </div>
                <a class="title" href="#">Men</a>
            </div>
            <div class="col-md-6">
                <div class="number XXRed easyPieChart" data-percent="100" style="width: 100px; height: 100px; line-height: 100px;">
                    <span>675</span><canvas width="100" height="100"></canvas>
                </div>
                <a class="title" href="#">Women</a>
            </div>
        </div>

    </div>
</section>



@section FooterExtra {
<link href="~/wwwroot/lib/Isotope/style.css" rel="stylesheet" />
<script src="~/wwwroot/lib/Isotope/jquery-1.7.1.min.js"></script>
<script src="~/wwwroot/lib/Isotope/jquery.isotope.min.js"></script>
<script src="~/wwwroot/lib/Isotope/jquery.ba-bbq.min.js"></script>

<script>
        $(document).ready(function () {

            $('.item .name').hide();

        });

        $(window).load(function () {

            $('#grid').isotope({
                itemSelector: '.item'
            });

            var $optionSets = $('.parent').find('ul'),
                isOptionLinkClicked = false;

            // switches selected class on buttons
            function changeSelectedLink($elem) {
                // remove selected class on previous item
                $elem.parents('ul').find('.selected').removeClass('selected');
                // set selected class on new item
                $elem.addClass('selected');
            }

            $('.filter a').click(function () {
                var $this = $(this);
                // don't proceed if already selected
                if ($this.hasClass('selected')) {
                    return;
                }
                changeSelectedLink($this);
                // get href attr, remove leading #
                var href = $(this).attr('href').replace(/^#/, ''),
                    // convert href into object
                    // i.e. 'filter=.inner-transition' -> { filter: '.inner-transition' }
                    option = $.deparam(href, true);
                // set hash, triggers hashchange on window
                $.bbq.pushState(option);
                return false;
            });

            $(window).bind('hashchange', function (event) {
                // get options object from hash
                var hashOptions = $.deparam.fragment();
                // apply options from hash
                $('#grid').isotope(hashOptions);

            })
                // trigger hashchange to capture any hash data on init
                .trigger('hashchange');

            $('#grid').css('visibility', 'visible');

        });

</script>



<script src="~/wwwroot/lib/jquery/jquery.easy-pie-chart.js"></script>
    <script>
        $('.easy-pie-chart .number.XXRed').easyPieChart({
            animate: 1000,
            size: 100,
            lineWidth: 10,
            trackColor: "#FF7F7F",
            barColor: "Red"
        });
        $('.easy-pie-chart .number.XXYellow').easyPieChart({
            animate: 1000,
            size: 100,
            lineWidth: 10,
            trackColor: "#FFF4CE",
            barColor: "#FFC700"
        });
        $('.easy-pie-chart .number.XXBlue').easyPieChart({
            animate: 1000,
            size: 100,
            lineWidth: 10,
            trackColor: "#DFF5FD",
            barColor: "#39B6E5"
        });
        $('.easy-pie-chart .number.XXGreen').easyPieChart({
            animate: 1000,
            size: 100,
            lineWidth: 10,
            trackColor: "#EAF3DD",
            barColor: "#66A649"
        });
        $('.easy-pie-chart .number.XXClear').easyPieChart({
            animate: 1000,
            size: 100,
            lineWidth: 10,
            trackColor: "transparent",
            barColor: "transparent"
        });
    </script>
    <style>
        .statsDial {
            text - align: center;
        }

            .statsDial h3 {
                font - size: 50px;
            }

        .easyPieChart {
            position: relative;
            text-align: center;
        }

        .easy-pie-chart, .sparkline-chart {
            text - align: center;
            color: #808080;
        }

            .easy-pie-chart .number {
                font - size: 32px;
                font-weight: 300;
                width: 85px;
                margin: 0 auto;
            }

        .easyPieChart canvas {
            position: absolute;
            top: 0;
            left: 0;
        }

        .easy-pie-chart .title {
            display: block;
            text-align: center;
            color: #808080;
            font-weight: 300;
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 10px;
            text-decoration: none;
        }
    </style>
}
