@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Data Dashboard</div>
<<<<<<< HEAD
            <a href="~/api" class="page-scroll btn btn-xl">View our API</a>
=======
            <a href="#api" class="page-scroll btn btn-xl" hidden >How are we tracking?</a>
            <a href="#about" class="page-scroll btn btn-xl" hidden >Tell Me More</a>
>>>>>>> 0d74de69629cc8659091bc6dd56eb193bf968e6d
        </div>
    </div>
</header>


<!-- API Section -->
<section id="api">
    <div class="container">

        <div class="easy-pie-chart">
            <div class="col-md-6">
                <div class="number XXGreen easyPieChart" data-percent="100" style="width: 100px; height: 100px; line-height: 100px;">
                    <span>347</span><canvas width="100" height="100"></canvas>
                </div>
                <a class="title" href="#">Total Members</a>
            </div>
            <div class="col-md-6">
                <div class="number XXYellow easyPieChart" data-percent="100" style="width: 100px; height: 100px; line-height: 100px;">
                    <span>200</span><canvas width="100" height="100"></canvas>
                </div>
                <a class="title" href="#">Email Subscribers</a>
            </div>
            <div class="col-md-6">
                <div class="number XXBlue easyPieChart" data-percent="100" style="width: 100px; height: 100px; line-height: 100px;">
                    <span>52</span><canvas width="100" height="100"></canvas>
                </div>
                <a class="title" href="#">Men</a>
            </div>
            <div class="col-md-6">
                <div class="number XXRed easyPieChart" data-percent="100" style="width: 100px; height: 100px; line-height: 100px;">
                    <span>675</span><canvas width="100" height="100"></canvas>
                </div>
                <a class="title" href="#">Women</a>
            </div>
        </div>

    </div>
</section>

<div class="container-fluid">
    <h2>Isotope</h2>
    <nav>
        <div class="webArea">
            <div id="subnav">
                <nav class="parent">
                    <ul>
                        <li class="filter">
                            <a href="#filter=.One">
                                <img src="~/wwwroot/images/JPEG/E_SDG_goals_icons-individual-rgb-01.jpg" />
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Two">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-02.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Three">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-03.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Four">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-04.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Five">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-05.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Six">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-06.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Seven">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-07.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Eight">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-08.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Nine">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-09.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Ten">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-10.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Eleven">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-11.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Twelve">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-12.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Thirteen">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-13.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Fourteen">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-14.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Fifteen">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-15.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Sixteen">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-16.jpg">
                            </a>
                        </li>
                        <li class="filter">
                            <a href="#filter=.Seventeen">
                                <img src="~/wwwroot/images/JPEG/E_SDG%20goals_icons-individual-rgb-17.jpg">
                            </a>
                        </li>
                        <li class="filter"><a href="#filter=*">All</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>
    <section>
        <div class="webArea">
            <div id="grid">
                <div class="item audio isotope-item green">
                </div>
                <div class="item featured video isotope-item blue">
                    <a href=""></a>
                    <a class="name" href="">Testing Overlay</a>
                </div>
                <div class="item audio isotope-item red">
                </div>
                <div class="item audio isotope-item blue">
                </div>
                <div class="item video isotope-item yellow">
                </div>
                <div class="item audio isotope-item red">
                </div>
                <div class="item audio isotope-item blue">
                </div>
                <div class="item video isotope-item yellow">
                </div>
                <div class="item One isotope-item yellow featured">
                </div>
                <div class="item One isotope-item yellow featured">
                </div>
                <div class="item One isotope-item yellow featured">
                </div>
                <div class="item One isotope-item yellow featured">
                </div>
                <div class="item Two isotope-item red featured">
                </div>
                <div class="item Two isotope-item red featured">
                </div>
                <div class="item Two isotope-item red featured">
                </div>
                <div class="item Two isotope-item red featured">
                </div>
            </div>
        </div>
    </section>
</div>



@section FooterExtra {
<link href="~/wwwroot/lib/Isotope/style.css" rel="stylesheet" />
<script src="~/wwwroot/lib/Isotope/jquery-1.7.1.min.js"></script>
<script src="~/wwwroot/lib/Isotope/jquery.isotope.min.js"></script>
<script src="~/wwwroot/lib/Isotope/jquery.ba-bbq.min.js"></script>

<script>
        $(document).ready(function () {

            $('.item .name').hide();

        });

        $(window).load(function () {

            $('#grid').isotope({
                itemSelector: '.item'
            });

            var $optionSets = $('.parent').find('ul'),
                isOptionLinkClicked = false;

            // switches selected class on buttons
            function changeSelectedLink($elem) {
                // remove selected class on previous item
                $elem.parents('ul').find('.selected').removeClass('selected');
                // set selected class on new item
                $elem.addClass('selected');
            }

            $('.filter a').click(function () {
                var $this = $(this);
                // don't proceed if already selected
                if ($this.hasClass('selected')) {
                    return;
                }
                changeSelectedLink($this);
                // get href attr, remove leading #
                var href = $(this).attr('href').replace(/^#/, ''),
                    // convert href into object
                    // i.e. 'filter=.inner-transition' -> { filter: '.inner-transition' }
                    option = $.deparam(href, true);
                // set hash, triggers hashchange on window
                $.bbq.pushState(option);
                return false;
            });

            $(window).bind('hashchange', function (event) {
                // get options object from hash
                var hashOptions = $.deparam.fragment();
                // apply options from hash
                $('#grid').isotope(hashOptions);

            })
                // trigger hashchange to capture any hash data on init
                .trigger('hashchange');

            $('#grid').css('visibility', 'visible');

        });

</script>



<script src="~/wwwroot/lib/jquery/jquery.easy-pie-chart.js"></script>
    <script>
        $('.easy-pie-chart .number.XXRed').easyPieChart({
            animate: 1000,
            size: 100,
            lineWidth: 10,
            trackColor: "#FF7F7F",
            barColor: "Red"
        });
        $('.easy-pie-chart .number.XXYellow').easyPieChart({
            animate: 1000,
            size: 100,
            lineWidth: 10,
            trackColor: "#FFF4CE",
            barColor: "#FFC700"
        });
        $('.easy-pie-chart .number.XXBlue').easyPieChart({
            animate: 1000,
            size: 100,
            lineWidth: 10,
            trackColor: "#DFF5FD",
            barColor: "#39B6E5"
        });
        $('.easy-pie-chart .number.XXGreen').easyPieChart({
            animate: 1000,
            size: 100,
            lineWidth: 10,
            trackColor: "#EAF3DD",
            barColor: "#66A649"
        });
        $('.easy-pie-chart .number.XXClear').easyPieChart({
            animate: 1000,
            size: 100,
            lineWidth: 10,
            trackColor: "transparent",
            barColor: "transparent"
        });
    </script>
    <style>
        .statsDial {
            text - align: center;
        }

            .statsDial h3 {
                font - size: 50px;
            }

        .easyPieChart {
            position: relative;
            text-align: center;
        }

        .easy-pie-chart, .sparkline-chart {
            text - align: center;
            color: #808080;
        }

            .easy-pie-chart .number {
                font - size: 32px;
                font-weight: 300;
                width: 85px;
                margin: 0 auto;
            }

        .easyPieChart canvas {
            position: absolute;
            top: 0;
            left: 0;
        }

        .easy-pie-chart .title {
            display: block;
            text-align: center;
            color: #808080;
            font-weight: 300;
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 10px;
            text-decoration: none;
        }
    </style>
}
