@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Tracking Our Nation</div>
            <a href="#api" class="page-scroll btn btn-xl">How are we tracking?</a>
            <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

@RenderPage("~/Views/Home/_DataIntro.cshtml")

@RenderPage("~/Views/Home/_HowItWorks.cshtml")

@RenderPage("~/Views/Home/_About.cshtml")

