<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="loginUrl" value="~/Manage/Login" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/error">
        <error statusCode="404" redirect="~/error" />
    </customErrors>-->
    <sessionState timeout="60"></sessionState>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.webServer>
    
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365:00:00" />
    </staticContent>
    
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <fileExtensions>
          <remove fileExtension=".cshtml" />
          <add fileExtension=".cshtml" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    
    <rewrite>
      <rules>
        <rule name="robots.txt" stopProcessing="true">
          <match url="robots.txt" />
          <action type="Rewrite" url="Views/Home/robots.txt" />
        </rule>
        <rule name="legal" stopProcessing="true">
          <match url="legal" />
          <action type="Rewrite" url="Views/Home/legal.cshtml" />
        </rule>
        <rule name="access-denied" stopProcessing="true">
          <match url="access-denied" />
          <action type="Rewrite" url="Views/Home/Errors/AccessDenied.cshtml" />
        </rule>
      </rules>
    </rewrite>
    
    <directoryBrowse enabled="false" />
    
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.cshtml" />
        <add value="swagger.json" />
      </files>
    </defaultDocument>
    
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-Powered-By" value="Your Mom" />
      </customHeaders>
    </httpProtocol>
    
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="/error" responseMode="ExecuteURL" />
    </httpErrors>
    
  </system.webServer>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>

  <system.net>
    <mailSettings>
        <!--<smtp deliveryMethod="SpecifiedPickupDirectory">
          <specifiedPickupDirectory pickupDirectoryLocation="D:\Temp\Email" />
        </smtp>-->
      </mailSettings>
  </system.net>

</configuration>