<!-- Features Section -->
<section id="features" class="bg-light-gray">
    <div class="container-fluid">
        <nav>
            <div class="webArea">
                <div id="subnav">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Explore the Nations Data</h2>
                        </div>
                    </div>
                    <div class="row">
                        <nav class="parent">
                            <ul>
                                <li class="filter">
                                    <a href="~/data#filter=.One">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG_goals_icons-individual-rgb-01.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Two">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-02.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Three">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-03.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Four">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-04.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Five">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-05.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Six">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-06.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Seven">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-07.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Eight">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-08.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Nine">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-09.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Ten">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-10.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Eleven">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-11.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Twelve">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-12.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Thirteen">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-13.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Fourteen">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-14.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Fifteen">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-15.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Sixteen">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-16.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=.Seventeen">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-17.png" />
                                    </a>
                                </li>
                                <li class="filter">
                                    <a href="~/data#filter=*">
                                        <img class="sdg-pic" src="~/wwwroot/images/Square_RGB/E_SDG goals_icons-individual-rgb-18.png" />
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>