<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Tracking Our Nation</div>
            <div class="intro-lead-in">Sustainable Development Goals</div>
            <div class="btn btn-xl" style="visibility: hidden">Tell Me More</div>
        </div>
    </div>
</header>