<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">All New Golfison!</div>
            <div class="intro-heading">Golf Communication Platform</div>
            <a href="#features" class="page-scroll btn btn-xl">Features</a>
        </div>
    </div>
</header>