<!-- About Section -->
<section id="history">

    <div class="container">

        <div class="row">

            <div class="col-lg-12 text-center">

                <h2 class="section-heading">History</h2>

                <h3 class="section-subheading text-muted">Tracking Our Nation Product History</h3>

            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">

                <ul class="timeline">

                    <li>

                        <div class="timeline-image">

                            <img class="img-circle img-responsive" src="~/wwwroot/images/about/1.jpg" alt="">

                        </div>

                        <div class="timeline-panel">

                            <div class="timeline-heading">

                                <h4>Friday 28th July 2017</h4>

                                <h4 class="subheading">Our Humble Beginnings</h4>

                            </div>

                            <div class="timeline-body">

                                <p class="text-muted">We formed a great team in Wellington at GovHack New Zealand 2017. Our aim was to collect data from Data.govt.nz and create a Dashboard for 
                                <a href="https://www.mfat.govt.nz/en/peace-rights-and-security/work-with-the-un-and-other-partners/new-zealand-and-the-sustainable-development-goals-sdgs/" target="_blank">NZ's commitment to 17 Sustainable Development Goals.</a></p>

                            </div>

                        </div>

                    </li>

                    <li class="timeline-inverted">

                        <div class="timeline-image">

                            <img class="img-circle img-responsive" src="~/wwwroot/images/about/2.jpg" alt="">

                        </div>

                        <div class="timeline-panel">

                            <div class="timeline-heading">

                                <h4>Saturday 29th July 2017</h4>

                                <h4 class="subheading">Some serious work</h4>

                            </div>

                            <div class="timeline-body">

                                <p class="text-muted">The team spent a long day immersed in a creative swirl, designing, analysing, coding, testing, building, presenting and fixing the solution. Much caffeine was administered</p>

                            </div>

                        </div>

                    </li>

                    <li>

                        <div class="timeline-image">

                            <img class="img-circle img-responsive" src="~/wwwroot/images/about/3.jpg" alt="">

                        </div>

                        <div class="timeline-panel">

                            <div class="timeline-heading">

                                <h4>Sunday 30th July 2017</h4>

                                <h4 class="subheading">Release the product to the world!</h4>

                            </div>

                            <div class="timeline-body">

                                <p class="text-muted">The Product is live. Sustainable Development Goals Dashboard available to the world along with full access to our API so people can use the data. </p>

                            </div>

                        </div>

                    </li>


                    <li class="timeline-inverted">

                        <div class="timeline-image">

                            <h4>
                                Be Part

                                <br>Of Our

                                <br>Story!
                            </h4>

                        </div>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</section>