<!-- Services Section -->
<section id="howitworks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it works</h2>
                <h3 class="section-subheading text-muted">
                    Golfison provides a modern platform for managing, notifying and inter-club communication for golf events
                    &amp; other activities in a easy to use interface.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Manage News and Events</h4>
                <p class="text-muted">
                    All Communication from central location <br />
                    Anytime, Anywhere, Any Device <br />
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Live Event Management</h4>
                <p class="text-muted">Instant communication to all members, players, regional organisations using modern and traditional channels</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Event Entry System</h4>
                <p class="text-muted">Cost effective Event Entry System</p>
            </div>
        </div>
    </div>
</section>