<!-- Services Section -->
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pricing</h2>
                <h3 class="section-subheading text-muted">Golfison offers a range of feature and pricing options that is suited to small or large golf clubs</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="#contact" class="page-scroll btn btn-xl">Request Demo &amp; Pricing</a>
            </div>
        </div>
    </div>
</section>